.box-row{
    flex-wrap: wrap;
    row-gap: 20px;
    margin: 20px 30px; 
}

.box-col{
    gap: 10px;
    padding: 15px 20px;
    background: $white-main;
    max-width: 24%;
    min-height: 200px;
    z-index: 1;
    a{
        font-size: 13px;
        color: $link-color;
        font-weight: 500;
    }
}

.header-box{
    margin-top: -20vw;
}
