.back-to-top{
    background: $nav-bottom-color;
    color: $white-main;
    font-size: 13px;
    border: none;
    width: 100%;
    padding: 15px 0;
    transition: all 0.3s ease-in;
}
.back-to-top:hover{
    cursor: pointer;
    background-color: #323d40;
}
footer{
    color: $white-main;
    background-color: $nav-bg-color;
    padding: 20px 60px;
}