.fx{
    display: flex;
}
.jc-sb{
    justify-content: space-between;
}
.jc-ce{
    justify-content: center;
}
.ai-c{
    align-items: center;
}
.fd-co{
    flex-direction: column;
}
.jc-e{
    justify-content: end;
}